/* +-----------------------------------------------------------+
                        Custom CSS File
 +-----------------------------------------------------------+ */

/* ##Define Colors */
:root {
  --SoftBlue: hsl(231, 69%, 60%);
  --SoftRed: hsl(0, 94%, 66%);
  --GrayishBlue: hsl(229, 8%, 60%);
  --VeryDarkBlue: #252b46;
}

/* ##Define Fonts Face */
@font-face {
  font-display: swap;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/rubik-v28-latin-regular.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  src: url("./fonts/rubik-v28-latin-500.woff2") format("woff2");
}

body {
  font-family: "Rubik", sans-serif; /* Only one font */
  max-height: 4732px;
}

.container__all {
  max-height: 4732px;
  height: 100%;
}

h1 {
  font-size: 1.875rem;
  line-height: 1.2;
  margin-bottom: 1.5rem;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

p {
  color: var(--GrayishBlue);
  font-size: 0.9375rem;
  line-height: 1.8;
}

/* +-----------------------------------------------------------+
                              HEADER
 +-----------------------------------------------------------+ */

.pt-header {
  padding-top: 1.5rem;
}

#navbarNav {
  flex: 1;
  max-width: 100%;
  overflow: hidden;
  z-index: 99;
}

.nav-link {
  color: black;
}

/* +-----------------------------------------------------------+
                              MENU MODAL
 +-----------------------------------------------------------+ */

.modal-dialog {
  position: relative;
  width: 100vw;
  padding: inherit !important;
  --bs-gutter-x: none;
  max-width: 100vw !important;
}

.modal-content {
  width: 99vw;
  height: 667px;
  position: absolute;
  top: 0;
  left: 0;
}
.modal-header {
  margin-top: 45px;
  padding-left: 2rem;
  padding-right: 2.1rem;
}

.modal-title svg {
  width: 149px;
  height: 50px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#menuModal {
  font-family: "Rubik", sans-serif;
  text-transform: uppercase;
  height: 667px;
  --bs-modal-zindex: 1055;
  --bs-modal-width: 0 !important;
  --bs-modal-padding: 0 !important;
  --bs-modal-margin: 0 !important;
  --bs-modal-color: ;
  --bs-modal-bg: var(--VeryDarkBlue);
  --bs-modal-border-color: var(--bs-border-color-translucent);
  --bs-modal-border-width: var(--bs-border-width);
  --bs-modal-border-radius: none;
  --bs-modal-box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  --bs-modal-inner-border-radius: none;
  --bs-modal-header-padding-x: 0 !important;
  --bs-modal-header-padding-y: 0 !important;
  --bs-modal-header-padding: 0 !important;
  --bs-modal-header-border-color: none;
  --bs-modal-header-border-width: none;
  --bs-modal-title-line-height: 1.5;
  --bs-modal-footer-gap: 0 !important;
  --bs-modal-footer-bg: ;
  --bs-modal-footer-border-color: var(--bs-border-color);
  --bs-modal-footer-border-width: var(--bs-border-width);
}
.btn-close {
  width: 1rem !important ;
  height: 1rem !important;
  margin-top: -1.5rem !important;
}

.row {
  --bs-gutter-x: none !important;
  padding: none;
}

.modal-body {
  padding-top: 2.65rem;
}

.nav-item__modal {
  width: 80%;
  border-top: 1px solid var(--GrayishBlue);
}

.nav-item__modal:last-of-type {
  border-bottom: 1px solid var(--GrayishBlue);
}

.nav-link__modal {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  padding-top: 1.625rem;
  padding-bottom: 1.625rem;
  text-align: center;
}
/* +-----------------------------------------------------------+
                              MAIN
 +-----------------------------------------------------------+ */

.illustration {
  position: relative;
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  max-width: 100vw;
  padding-left: 2rem;
  padding-right: 2rem;
}
.illustration__container {
  max-width: 375px;
  position: relative;
  width: 100%;
  height: 15.875rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.first-svg-container {
  position: relative;
  width: 100%;
  height: 15.875rem;
}

.first-svg {
  position: absolute;
  top: 0;
  left: -1rem;
  height: auto;
  width: 21.56rem;
}

.dot-svg-container {
  background-image: url("./images/test.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 20rem;
  max-width: 20rem;
  height: 12.75rem;
  position: absolute;
  bottom: 0.3rem;
  right: -3rem;
  z-index: -1;
}

.get-it-section {
  margin-top: 3.625rem;
}

.get-it__text {
  margin-top: -0.375rem;
  line-height: 1.7;
}

.btn-get-it-container {
  margin-top: 1rem;
  margin-bottom: 9.8125rem;
  padding-left: 0.3125rem;
}

.btn-get-it {
  width: 40vw;
  font-size: 0.9375rem;
  height: 3.125rem;
  color: white;
}

.btn-get-it__blue {
  background-color: var(--SoftBlue);
}

.btn-get-it__gray {
  background-color: #f6f6f6;
  color: var(--GrayishBlue);
}

.illustration-features-container {
  margin-top: 3rem;
}

/* +-----------------------------------------------------------+
                          FEATURES Section 
 +-----------------------------------------------------------+ */

.features__title {
  margin-top: -0.625rem;
}

.features__text {
  margin-top: -0.875rem;
}

.features__list {
  margin-top: 1.125rem;
  z-index: 99;
}

.features-list-item {
  position: relative;
}

.features-list-btn {
  padding-top: 1rem;
  padding-bottom: 1.08rem;
}

.features-list-btn::after {
  content: "";
  background-color: var(--SoftRed);
  height: 4px;
  position: absolute;
  bottom: 0;
  z-index: 99;
  width: 0%;
  right: 0%;
  left: 0%;
  opacity: 0%;
  transform: translateX(-50%);
  transition: width 0.5s ease, left 0.5s ease, transform 0.5s ease,
    opacity 0.5s ease, right 0.5s ease;
}

.features-list-btn:hover::after,
.features-list-btn:focus::after {
  opacity: 100%;
  width: 50%;
  left: 25%;
  right: 25%;
  transform: translateX(0);
}

.features-container {
  /* margin-top: -5.9rem; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto; /* Centrage horizontal */
  max-width: 375px; /* Largeur maximale */
  width: 100%; /* Largeur relative à l'écran */
  text-align: center;
  position: relative;
  margin-top: 54px;
  /* background-color: red; */
}

/*Fixed illustration in the Back The big blue dot */
.features-dot-illustration {
  position: absolute;
  transform: scaleX(-1);
  z-index: -1;
  left: -2rem;
  top: 35px;
  width: 100%;
  height: 200px;
}

.features-tab {
  max-width: 375px;
  width: 100%;
  text-align: center;
}

/* Features-tab illustration Start --> */
.features-tab-1_illustration {
  background-image: url("./images/illustration-features-tab-1.svg");
  max-width: 312px;
  width: 100%;
  height: 200px;
  margin: auto;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.features-tab-2_illustration {
  background-image: url("./images/illustration-features-tab-2.svg");
  max-width: 312px;
  width: 100%;
  height: 350px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin: auto;
  margin-top: -2.62rem;
}

.features-tab-3_illustration {
  background-image: url("./images/illustration-features-tab-3.svg");
  width: 100%;
  height: 500px;
  max-width: 312px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin: auto;
  margin-top: -7.59rem;
}

.features-tab__text-1 {
  margin-top: 5.0625rem;
}

.features-tab__text-2 {
  margin-top: -1.7rem;
}

.features-tab__text-3 {
  margin-top: -6rem;
}

/*animation Features-tab - via .show bootstrap */
.tab-pane {
  transition: opacity 0.5s ease-in-out, transform 0.8s ease-in-out;
}

.fade-tab.show {
  opacity: 1;
  transform: translateX(0) !important;
}

.fade-tab {
  opacity: 0;
  transform: translateX(100%) !important;
}

/* +-----------------------------------------------------------+
                          DOWNLOAD Section
 +-----------------------------------------------------------+ */

.download__section {
  margin-top: 8.3125rem;
}

.download__text {
  margin-bottom: 1.5rem;
}

.download__card {
  border-radius: 0.5rem;
  height: 23.3125rem;
  width: 17.625rem;
  position: relative;
  margin-bottom: 2.3125rem !important;
  border: none !important;
}

.download__card__image {
  width: 100%;
  height: 6.375rem;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 3.25rem;
}

.download__card__text {
  margin-top: -1.1875rem;
}

.download__card__text::after {
  content: "";
  background-image: url("./images/bg-dots.svg");
  background-repeat: repeat;
  height: 4px;
  opacity: 70%;
  position: absolute;
  top: 75%;
  left: 0;
  width: 100%;
}
.download__card__button {
  margin-top: -0.5625rem;
  width: 14.5625rem !important;
  height: 3rem !important;
}

.chrome {
  background-image: url("./images/logo-chrome.svg");
}

.firefox {
  background-image: url("./images/logo-firefox.svg");
}

.opera {
  background-image: url("./images/logo-opera.svg");
}

/* +-----------------------------------------------------------+
                          FAQ Section
 +-----------------------------------------------------------+ */
.faq__section {
  margin-top: 6.5rem;
}

.faq__text__container {
  margin-bottom: 1.375rem;
}

.faq__text__title {
  width: 12.8rem;
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
  margin-bottom: 1.25rem;
}

.accordion-item {
  border: none !important;
  padding-bottom: 0.25rem;
  padding-top: 0.5rem;
  border-bottom: 1px solid #ddd !important;
  width: 100%;
}

.headingOne {
  color: red !important;
}

.accordion-button {
  padding-left: 0 !important;
  margin-right: 50px !important;
  font-size: 0.98rem;
  font-weight: 400;
  letter-spacing: -0.05rem;
  color: var(--VeryDarkBlue);
}

.faq__btn__container {
  margin-top: 3rem;
  margin-bottom: 7.75rem;
}

.faq__btn__end {
  max-width: 30vw !important;
  width: 30vw !important;
  height: 3rem !important;
}

/* +-----------------------------------------------------------+
                          Contact-us Section
 +-----------------------------------------------------------+ */

.contact-us__container {
  background-color: var(--SoftBlue);
  text-align: center;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 4.625rem;
  padding-bottom: 3.75rem;
}

.contact-us__container h6,
.contact-us__container h4 {
  color: white;
}

.contact-us__container h4 {
  margin-top: 1.3125rem;
  margin-bottom: 2.4375rem;
}

.form-control {
  height: 3rem !important;
}

.btn-contact-us {
  width: 100%;
  height: 3rem;
  background-color: var(--SoftRed);
  color: white;
}

.btn-contact-us__error {
  margin-top: 0;
}

.form__container {
  position: relative;
}

.form-control {
  z-index: 99;
}

.form-edit {
  position: relative;
  z-index: 99;
}

.form-control__error {
  padding-bottom: 0;
  margin-bottom: 50px;
  border: 3px solid var(--SoftRed) !important;
}

.invalid-feedback {
  background-color: var(--SoftRed);
  color: white;
  font-size: 0.8rem;
  text-align: left;
  padding: inherit;
  padding: 2px 0 2px 14px;
  margin-top: 0;
  border-radius: 0 0 0.5rem 0.5rem;
  font-style: italic;
  position: absolute;
  top: 65px;
  left: 0;
  z-index: 1;
}

/* +-----------------------------------------------------------+
                          Footer Section
 +-----------------------------------------------------------+ */
footer {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.footer__social {
  background-color: var(--VeryDarkBlue);
  z-index: 1;
  padding-top: 2.5625rem;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.footer__social__nav {
  gap: 1rem;
}

.nav-link {
  color: white;
}
.nav-link:hover,
.nav-link:focus {
  color: white;
  border: 2px solid white;
  border-radius: 0.5em;
}

.footer__logo {
  z-index: 99;
  margin-bottom: 1rem;
}

.social__logo__container {
  gap: 2.5625rem;
  padding-top: 3.1875rem;
  padding-bottom: 2.625rem;
}

.facebook {
  background-image: url(./images/icon-facebook.svg);
  width: 1.56rem;
  height: 1.56rem;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.twitter {
  background-image: url(./images/icon-twitter.svg);
  width: 1.56rem;
  height: 1.56rem;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

/* +-----------------------------------------------------------+
                          MEDIA QUERIES
 +-----------------------------------------------------------+ */

@media (min-width: 999px) {
  /* ----> HEADER */
  #navbarNav {
    height: 2.5rem;
  }
  .nav-logo__container .col-12 {
    width: 50%;
  }

  .nav-item__desktop .nav-link {
    color: var(--VeryDarkBlue);
    text-transform: uppercase;
    font-size: 0.75rem;
    letter-spacing: 0.15rem;
  }

  .nav-item__desktop:last-of-type {
    padding-left: 18px;
  }

  .nav-item__desktop .nav-link:focus {
    color: var(--SoftRed);
  }

  .nav-item__desktop:hover .nav-link:hover {
    border-color: var(--SoftRed);
  }

  .pt-header {
    padding-top: 2.875rem;
    padding-left: 64px;
    padding-right: 64px;
  }

  .list-container__desktop {
    gap: 1.7rem;
    padding-right: 4.5rem;
    padding-left: 5.25rem;
  }
  /* ----> GET-IT SECTION */

  .get-it-section {
    display: grid !important;
    grid-template-columns: 50% 50%;
    grid-template-rows: 24rem;
    align-items: center;
    justify-content: flex-start;
  }

  .illustration {
    grid-column: 2;
    grid-row: 1;
    width: 100%;
    height: 100%;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 0rem;
    padding-right: 0rem;
  }

  .illustration__container {
    position: relative;
    width: 100%;
    max-width: inherit;
    position: relative;
    width: 100%;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .first-svg-container {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .first-svg {
    position: absolute;
    top: 0;
    left: 0;
    height: auto;
    width: 36rem;
  }

  .dot-svg-container {
    background-image: url("./images/test.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 584.7px;
    height: 313px;
    position: absolute;
    bottom: -2.8rem;
    right: -12.5rem;
    z-index: -1;
    max-width: inherit;
  }

  .get-it__text-container {
    grid-column: 1;
    grid-row: 1;
    padding-top: 4.875rem;
  }

  .get-it__text-container h1 {
    font-size: 2.2rem;
  }
  .get-it__text-container h1,
  .get-it__text-container p {
    text-align: left !important;
  }
}
